<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css">  
  <script type="text/javascript" src="javascripts/jquery-3.1.0.min.js"></script>  
  <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>  
  <body>
    <div>
      <form class="form" method="post" action="/home" role="form">
        <fieldset>
          <div class="form-group">
            <label for="name">用户名：</label>
            <input name="name" type="text" class="form-control" id="name" />
          </div>
          <div class="form-group">
            <label for="password">密码</label>
            <input name="password" type="text" class="form-control" id="password" />
          </div>
          <!-- <div class="form-group">  
            <button type="button" class="btn bg-primary btn-block" id="register0">注册</button>  
          </div> -->
          <div class="form-group">  
            <input type="submit" class="btn btn-info btn-block" id="login0" value="登陆">  
          </div> 
        </fieldset> 
      </form>
    </div>

    <script type="text/javascript">
      /*$('#register0').click(function(){
        location.href = '/register';
      });*/
/*
      $('#login0').click(function(){
        var username = $('#name').val();
        var password = $('#password').val();
        var data = {
          name : username,
          password : password
        };

        $.ajax({
          url : '/home',
          type : 'POST',
          dataType: 'json',
          data : data,
          success : function(data){
            console.log(1);
            //if (data.status == 1) {
              location.href = '/home';
            //}
          },
          error : function(){
            console.log(2);
            //location.href = '/login';
          }
        });

      });*/
    </script>
  </body>
</html>
